<ul class="nav nav-justified justify-content-center bg-inverse nav-fill nav-header fixed-top">
  <li class="nav-item">
    <a class="nav-link text-left" [routerLink]="['/']"><i class="fa fa-chevron-left" aria-hidden="true"></i> 返回</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="isAdd">添加</a>
    <a class="nav-link" *ngIf="!isAdd">编辑</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-right" *ngIf="!isAdd" (click)="onDelete()"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
  </li>
</ul>
<ul class="nav nav-justified justify-content-center bg-inverse nav-fill nav-header">
  <li class="nav-item">
    <a class="nav-link">Hidden</a>
  </li>
</ul>

<div class="container-fluid edit-container">
  <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">

    <!-- Rounded switch -->
    <div class="onoffswitch" *ngIf="isAdd">
      <input type="checkbox" name="fromMY" class="onoffswitch-checkbox" id="fromMY" ngModel>
      <label class="onoffswitch-label" for="fromMY">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="要吐槽的话题" [ngModel]="item?.topic" name="topic" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="5" placeholder="内容" [ngModel]="item?.content" name="content"></textarea>
    </div>

    <div class="form-group" *ngIf="!isAdd">
      <input class="form-control" type="date" id="date" [ngModel]="item?.date | date:'y-MM-dd'" name="date" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!f.valid">
      <span *ngIf="isAdd">加入 </span> 
      <span *ngIf="!isAdd">保存 </span> 
      Agenda
    </button>
  </form>
</div>