<div class="card">
  <div class="card-block">
    <h5 class="card-title">
      {{agendaItem.topic}}
      <small class="float-right">
        <span class="float-right font-weight-normal" *ngIf="!agendaItem.talked" (click)="onEditItem()">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑
        </span>
        <span class="text-success" *ngIf="agendaItem.talked"><i class="fa fa-check-square-o" aria-hidden="true"></i> 已聊</span>
      </small>
    </h5>
    <p class="card-subtitle mb-2 text-muted">{{agendaItem.date | date}}
      <span class="badge badge-warning" *ngIf="agendaItem.fromMY">MY</span>
      <span class="badge badge-info" *ngIf="!agendaItem.fromMY">LX</span>
    </p>
    <p class="card-text">{{agendaItem.content}}</p>
    <a class="btn btn-primary" *ngIf="!agendaItem.talked" (click)="markTalked()">标记已聊</a>
  </div>
</div>