<ul class="nav nav-justified justify-content-center bg-inverse nav-fill nav-header fixed-top">
  <li class="nav-item">
    <a class="nav-link"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Agenda</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-right text-warning" [routerLink]="['/new']"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
  </li>
</ul>
<ul class="nav nav-fill hidden">
  <li class="nav-item">
    <a class="nav-link">hidden</a>
  </li>
</ul>

<div class="main-container">
  <div class="container-fluid bg-faded search-container">
    <div class="form-group">
      <input type="text" class="form-control" id="keyword" placeholder="搜索关键字" #keyword (keyup)="0" (input)="0">
    </div>
  </div>
  <app-agenda-item *ngFor="let item of agendaItems | newOnly:isNewOnly | filterByKeyword:keyword.value" [agendaItem]="item"></app-agenda-item>
</div>

<footer class="footer fixed-bottom text-center">
  <div class="row">
    <div class="col" [ngClass]="{'text-success': isNewOnly}" (click)="viewNewOnly()">
      <i class="fa fa-commenting fa-lg" aria-hidden="true"></i> 未聊
    </div>
    <div class="col" [ngClass]="{'text-success': !isNewOnly}" (click)="viewAll()">
      <i class="fa fa-inbox fa-lg" aria-hidden="true"></i> 全部
    </div>
  </div>
</footer>