/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
}

.nav.bg-inverse a{
    color: #fff;
}

.nav-fill .nav-item {
    font-size: 1.3em;
}

.nav.hidden {
    background-color: transparent;
    color: #fff;
    opacity: 0;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #fff;
}

.card {
    border-radius: 0px;
}